{% extends 'base.html.twig' %}
{% block title %}{{ categoryName }}{% endblock %}
{% block body %}
    {% for programs in program %}
        <ul>
            <li>{{ program.id }}</li>
            <li>{{ program.title }}</li>
            <li>{{ program.summary }}</li>
        </ul>
    {% endfor %}
{% endblock %}