{% extends 'base.html.twig' %}
{% block title %}{{ categoryName }}{% endblock %}
{% block body %}
    {% for series in program %}
        <ul>
            <li>{{ series.id }}</li>
            <li>{{ series.title }}</li>
            <li>{{ series.summary }}</li>
        </ul>
    {% endfor %}
{% endblock %}
