{% extends 'base.html.twig' %}
{% block title %}Acteur {{ actor.name }}{% endblock %}

{% block body %}
    <p class="title-actor">{{ actor.name }}</p>
    <div class="box-actor-films">
        <ul>
            {% for programs in program %}
                <li><a href="/program/{{ program.id }}">{{ program.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}